<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Ads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-margin">
    <ion-list-header>
      <ion-label>Ads List</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let ad of ads">
      <ion-label>
        {{ad.title}}
      </ion-label>

      <ion-button [routerLink]="['/ad-detail', ad.id]">
        more
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
